<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="style.css"/><script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="header">
          <h1>兩光文具店</h1>
        </div>
        <div class="navbar">
          <ul>
            <li>最新資訊</li>
            <li>商品列表</li>
            <li>關於我們</li>
            <div class="search">
              <input type="text" v-model.trim="input_title" placeholder="搜尋"/>
            </div>
          </ul>
        </div>
        <div class="contents">
          <div v-for="(single_pen,id) in itemtpye" class="tools">
            <div class="img"><img :src="single_pen.img"/></div>
            <div class="infos">
              <h3>{{single_pen.name}}</h3>
              <h4>網路價: {{single_pen.price}}</h4>
              <div @click="get_item(id)" class="purchase">購買</div>
            </div>
          </div>
        </div>
        <hr/>
        <div id="buylist">
          <h1>MyBuylist 購物清單</h1>
          <hr/>
          <div v-if="shop_list.length!=0" v-for="(item,index) in shop_list" class="items-list">
            <div class="item"> {{index+1}}: {{item.name}}</div>
            <div class="price">{{item.price}}</div>
            <div @click="del_item(index)" class="del">X</div>
          </div>
          <hr/>
          <div class="total">
            <h3>價格 : {{total_price}}</h3>
          </div>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>