<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Resume
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
        link(rel="stylesheet", href="/css/style.css")
    body
        .container
            .header
                span Jain Xun Wu
                hr
            .content_area
                .profile
                    .picture
                        img(src="擷取.PNG", alt="picture")
                    .infos
                        b 吳建勳, Jain Xun Wu
                        p Kaoshuing, TW
                        p 你好,自己畢業於台科大,因緣際會下接觸到前端,立志踏入此領域。目前透過自學彌補不足之處,目標為希望找尋一起成長,喜愛分享交流的團隊。
                        .contact_icon
                            img(src="https://upload.wikimedia.org/wikipedia/commons/4/45/New_Logo_Gmail.svg", alt="Facebook_icon")
                            span : ruralboy0511@gmail.com
                        .contact_icon2
                            img(src="https://png.pngtree.com/svg/20170916/760db8f69c.svg", alt="github-icon")
                            span
                                a(href="https://github.com/MalygosDuke" target=")_blank") : Github
                        .contact_icon3
                            img(src="https://cdn1.iconfinder.com/data/icons/office-2/512/phone_symbol_2-512.png", alt="phone")
                            span : 0958013919
                .skill_intro
                    h1 Skills
                    .skills
                        .tag
                            ul
                                li HTML5
                                li CSS3
                                li Jquery
                                li Javascript
                        .dev
                            ul
                                li Vue.js
                        .tool
                            ul
                                li github
                                li Vue Devtools
                .education
                    h1 Education
                    svg#pic3(viewbox="-5 -5 20 120")
                        circle(cx=5 cy=1 r=5)
                        circle(cx=5 cy=90 r=5)
                        polyline(points="5,6 5,85")
                    .master
                        h3 國立台灣科技大學, Sep2015 - Aug2017
                        p 畢業於電子所,在學期間從事影像處理相關研究,其中論文為:互動式加密之雙層QR碼,其內容於編碼端包含針對傳統QR碼進行資料量的增加同時不影響QR解碼器的解碼,於解碼端則包含影像的校正與額外資料的解碼,全程於Matlab的環境下撰寫。
                    .university
                        h3 私立正修科技大學, Sep2010 - Jun2014
                        p 畢業於電子工程系，期間學習了單晶片相關知識與參加過許多競賽並獲得不錯的成績，，其中包含：2012年台灣區機器人運動機器狗賽跑-第一名、2013年全國智慧型機器人大賽負重致遠-第一名…等等。
                .experiance
                    h1 Experience
                    .job1
                        h3 測試部-高級工程師 / 群創光電, Dec2017 - Mar2019
                        ul
                            li 機台檢修與參數校調
                            li 針對機台設定Recipe的流程進行部分自動化的優化
                .demo
                    h1 Projects
